.full-width {
    width: 90%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 0 10px;
  }

.property-profile-img {
    width: 200px;
    height: 200px;
}

.property-photos {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}