<ng-container>
    <div class="container-xs" ngClass.gt-xs="container-xs">
        <div class="container section">
            <section class="gallery-container" fxLayout="column">
                <div class="main-header" fxFlex fxLayoutAlign="space-between">
                    <header class="gallery-header" fxFlex fxLayoutGap="20px" fxLayoutAlign="start center">
                        <img loading="lazy" src="../../../assets/images/back-icon.svg" alt="" class="gallery-icon"
                            (click)="goBack()" />
                        <span class="gallery-title">Photo Gallery</span>
                    </header>
                    <div class="photo-collection">
                        <img src="../../../assets/images/wishlist-photo-gallery.png" alt="" class="photo-item">
                        <img src="../../../assets/images/uplod-photo-gallery.png" alt="" class="photo-item">
                    </div>
                </div>
                <nav class="category-nav">
                    <button class="category" [ngClass]="{ 'active': category === item.category}"
                        (click)="category = item.category"
                        *ngFor="let item of categoryMedia;">{{item.category}}</button>
                </nav>
                <main class="image-display">
                    <ngx-masonry [useImagesLoaded]="true" [gutter]="10">
                        <ng-container *ngFor="let item of categoryMedia">
                            <ng-container *ngIf="category === item.category">
                                <ngx-masonry-item *ngFor="let photo of item.photos">
                                    <a class="gallery-item" data-fancybox="gallery" [href]="photo.filename">
                                        <img [src]="photo.filename" class="grid-image" alt="" />
                                    </a>
                                </ngx-masonry-item>
                            </ng-container>
                        </ng-container>
                    </ngx-masonry>
                </main>
            </section>
        </div>
    </div>
</ng-container>