.privacy-policy {
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: 'Akkurat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #2E2E2E;

    .title {
        font-family: 'Caudex';
        margin-top: 30px;
        font-size: 40px;
        line-height: 48px;
        color: #008281;
    }
    .sub-title {
        font-family: 'Caudex';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #008281;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .no-terms {
        margin-top: 50px;
    }
    .no-terms .term {
        font-size: 14px;
        line-height: 20px;
        color: #4F4F4F;
        margin-bottom: 15px;
    }
}