<ng-container *ngIf="!showDontWorrySection">
    <div class="always-here">
        <div class="container">
            <div fxLayout="column" fxLayout.gt-xs="row">
                <div class="left-side" fxFlex>
                    <div class="title">All Your Queries Answered Right Away!</div>
                </div>
                <div class="right-side" fxFlex>
                    <!--<mat-accordion fxLayout="column"  fxLayoutGap="10px">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of [1,2,3,4,5]">
                          <mat-expansion-panel-header>
                            <mat-panel-title class="panel-title">
                                Question?
                            </mat-panel-title>                            
                          </mat-expansion-panel-header>
                          <p>Answer</p>
                        </mat-expansion-panel>
                    </mat-accordion>-->
                    <mat-accordion fxLayout="column" fxLayoutGap="10px">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    How do I partner my property with Staymaster?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">It’s simple! Get in touch with our team, and they will promptly
                                guide you through. We conduct a property inspection to evaluate its earning potential.
                                Once we finalise, we take every responsibility from its marketing to maintenance, and
                                everything in-between.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    What services does Staymaster provide to property owners?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">Staymaster offers a comprehensive range of services from property
                                marketing to housekeeping, guest communication and 24/7 concierge services. We ensure
                                your property is attractive for guests for consistent bookings. You can enjoy the
                                benefits without any hassles.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    How do you determine the pricing for my property and how can I track the
                                    performance?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">Our advanced pricing algorithms determine pricing based on demand,
                                seasonality, and competitor pricing analysis to ensure your home is always priced for
                                maximum occupancy and profitability
                                Staymaster is committed to transparency. We provide you with real-time reports on your
                                property’s performance, occupancy rates, revenues and guest feedback.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    Will I have access to my property?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">Yes, absolutely. It is your home first, and it will be available on
                                your priority. Just let us know, and we will block off those dates on the calendar. Or
                                you can manage it seamlessly via the Staymaster’s Homeowners App.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    How is Staymaster different from other property managers?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">At Staymaster we strike a balance between guest and host
                                experience. What we mean is-we don’t just manage properties; we elevate them to offer an
                                unforgettable holiday experience. Beautiful stays and attentive services promise higher
                                bookings, premium pricing and long-term growth. We are thus hands-on with our approach
                                that benefits both guests and hosts who have trusted us for their beautiful homes.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="showDontWorrySection">
    <div class="always-here">
        <div class="container">
            <div fxLayout="column" fxLayout.gt-xs="row">
                <div class="left-side" fxFlex>
                    <div class="title">All Your Queries Answered Right Away!</div>
                </div>
                <div class="right-side" fxFlex>
                    <!--<mat-accordion fxLayout="column"  fxLayoutGap="10px">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of [1,2,3,4,5]">
                          <mat-expansion-panel-header>
                            <mat-panel-title class="panel-title">
                                Question?
                            </mat-panel-title>                            
                          </mat-expansion-panel-header>
                          <p>Answer</p>
                        </mat-expansion-panel>
                    </mat-accordion>-->
                    <mat-accordion fxLayout="column" fxLayoutGap="10px">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    What type of properties do you offer?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">With us, you will be spoilt for choice. Currently, we offer
                                apartments and private villas in Goa for small and larger
                                groups. Our properties also include affordable service
                                apartments in and around Goa, a boutique cluster of
                                villas within gated residential enclaves, and luxury
                                residences. We have villas for events and celebrations
                                and apartments for extended stays. Be rest assured
                                about comfort, style and convenience at every holiday
                                home.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    What amenities are included in the properties?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">Whenever we onboard a home, we ensure it has top-tier
                                amenities for a comfortable stay. Our homes have high-
                                speed WiFi, air-conditioned rooms, fully stocked
                                kitchens, premium linens, and smart home technology.
                                We have private pool villas, and our apartments have a
                                shared pool. We also have a 24/7 concierge service for
                                any of your special requests.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    Are the properties fully serviced?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">Yes, Staymaster properties include fully-serviced villas
                                and apartments in Goa for a seamless stay. From
                                housekeeping to maintenance, we take care of
                                everything so you can focus on enjoying your vacation.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    Is it possible to make special requests or book
                                    experiences?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">Yes absolutely. Staymaster has a concierge team
                                available 24/7 to arrange special experiences. You can
                                request a private butler, barbecue, bartending services,
                                spa treatments, yoga sessions to guided tours around
                                the area. We are all about providing maximum comfort
                                and an unparalleled guest experience. You can check all
                                about our concierge services here. <a [routerLink]="['/conceirge-service']"
                                    routerLinkActive="router-link-active">conceirge-service</a></p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="panel-title">
                                    Do I get assistance during my stay?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="panel-content">Yes, we offer round-the-clock support to ensure stay is
                                comfortable. Whether you need emergency medical help
                                or want to arrange for a surprise, our team is just a
                                phone call away. Whether you are coming in for a week-
                                long holiday or planning months-long staycations and
                                workations, our homes welcome you.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</ng-container>