<div class="header">
    Settings
</div>
<div class="wrapper" fxLayout="column" fxLayoutGap="20px">   
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Customer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>
        <ng-container matColumnDef="villaName">
          <th mat-header-cell *matHeaderCellDef> Villa Name </th>
          <td mat-cell *matCellDef="let element"> {{element.villaName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
      
        <ng-container matColumnDef="noOfVillas">
          <th mat-header-cell *matHeaderCellDef> No Of Villas </th>
          <td mat-cell *matCellDef="let element"> {{element.noOfVillas}} </td>
        </ng-container>
      
        <ng-container matColumnDef="mealType">
          <th mat-header-cell *matHeaderCellDef> Meal Type </th>
          <td mat-cell *matCellDef="let element"> {{element.mealType}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
</div>