
<div mat-dialog-content class="modal-body">
    <div class="meal-pricing" fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div class="title">Meal Pricing</div> 
            <mat-icon (click)="onNoClick()">close</mat-icon>
        </div>
        <div>
            <div fxLayout="column" fxLayoutGap="25px">
                <div >
                    <div  fxLayout="row" fxLayoutGap="25px">
                        <div><img src="../../../assets/images/Veg.png" alt=""></div>
                        <div class="veg-non-veg">Vegetarian</div>
                    </div>
                </div>
                <div class="pricing" fxLayout="column" fxLayoutGap="5px">
                    <div  fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="row" fxLayoutGap="5px"><div>Adults</div> <div class="small">(above 12 years)</div></div>
                        <div fxLayout="row" fxLayoutGap="5px"><div>Rs. 1200</div> <div class="small">+ GST</div> </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="row" fxLayoutGap="5px"><div>Children </div> <div class="small">(6-12 years)</div></div>
                        <div fxLayout="row" fxLayoutGap="5px"><div>Rs. 1000</div> <div class="small">+ GST</div> </div>
                    </div>
                </div>
                <div class="gradient-line-gray"></div>
                <div fxFlex fxLayout="row" fxLayoutGap="25px">
                    <div><img src="../../../assets/images/Non-veg.png" alt=""></div>
                    <div class="veg-non-veg">Non-Vegetarian</div>
                </div>
                <div class="pricing" fxLayout="column" fxLayoutGap="5px">
                    <div  fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="row" fxLayoutGap="5px"><div>Adults</div> <div class="small">(above 12 years)</div></div>
                        <div fxLayout="row" fxLayoutGap="5px"><div>Rs. 1600</div> <div class="small">+ GST</div> </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="row" fxLayoutGap="5px"><div>Children </div> <div class="small">(6-12 years)</div></div>
                        <div fxLayout="row" fxLayoutGap="5px"><div>Rs. 1200</div> <div class="small">+ GST</div> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>