<div class="bookings" fxFlex fxLayout="column">

  <!-- Booking Header -->
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex class="title">
      Rates and Inventory
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end">
      <div>
        <select class="rates">
          <option>Rates</option>
          <option>Rates</option>
          <option>Rates</option>
        </select>
      </div>
      <div>
        <select class="roomt">
          <option>Room Type</option>
          <option>Room Type</option>
          <option>Room Type</option>
        </select>
      </div>
      <div>
        <button class="Addbtn"> Save</button>
      </div>
      <div>
        <button class="refreshndownload"><img src="../../../assets/images/refresh.png"></button>
      </div>
    </div>
  </div>


  <mat-card class="bookingDetailsCard">
    <mat-card-content fxFlex fxLayout="column" fxLayoutGap="20px">
      <div class="tblHdr"  fxLayout="row">
        <div fxFlex="25" class="firstColm" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around start"><img
            src="../../../assets/images/prev_admin.png"> 11/23/2022 <img
            src="../../../assets/images/next_admin.png"><img src="../../../assets/images/refresh.png"></div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="dayOfwk">SAT</div>
          <div class="date">11 AUG</div>
        </div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="dayOfwk">SUN</div>
          <div class="date">12 AUG</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="dayOfwk">MON</div>
          <div class="date">13 AUG</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="dayOfwk">TUE</div>
          <div class="date">14 AUG</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="dayOfwk">WED</div>
          <div class="date">15 AUG</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="dayOfwk">THU</div>
          <div class="date">16 AUG</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="dayOfwk">FRI</div>
          <div class="date">17 AUG</div>
        </div>
      </div>
      <div class="tblRow"  fxLayout="column">
        <div style="height: 35px;">
          <div fxFlex="25" fxLayout="row"  class="firstColm" fxLayoutGap="5px" fxLayoutAlign="space-around start">Holiday Inn Resort</div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        </div>
        <div  style="height: 35px;">
          <div fxFlex="25" fxLayout="row" fxLayoutGap="5px" class="firstColm" fxLayoutAlign="space-around start">Holiday Inn Resort</div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        </div>
        
    

      </div>

      <div class="tblRow"  fxLayout="column">
        <div style="height: 35px;">
          <div fxFlex="25" fxLayout="row"  class="firstColm" fxLayoutGap="5px" fxLayoutAlign="space-around start">La Ula Resort</div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        </div>
        <div  style="height: 35px;">
          <div fxFlex="25" fxLayout="row" fxLayoutGap="5px" class="firstColm" fxLayoutAlign="space-around start">La Ula Resort</div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        </div>
        
    

      </div>

      <div class="tblRow"  fxLayout="column">
        <div style="height: 35px;">
          <div fxFlex="25" fxLayout="row"  class="firstColm" fxLayoutGap="5px" fxLayoutAlign="space-around start">La Zula Resort</div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div class="count">1</div>
        </div>
        </div>
        <div  style="height: 35px;">
          <div fxFlex="25" fxLayout="row" fxLayoutGap="5px" class="firstColm" fxLayoutAlign="space-around start">La Zula Resort</div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid weekEnd" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        <div fxFlex="11" class="daygrid" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div ><input placeholder="28000" class="rate" type="text"></div>
          <div class="dot">.</div>
        </div>
        </div>

        
        
    

      </div>
    </mat-card-content>
  </mat-card>
</div>

