<div class="viewBooking" fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" style="padding-top: 15px;">
        <mat-card fxFlex="100" class="topCard" style="margin: 0; padding: 0;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>User Details</mat-card-subtitle>
                <img mat-card-xs-image src="../../../../assets/images/edit.png" style="cursor: pointer;" title="this is dummy title">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
         <hr style="width: 100%;">
    
         <div fxFlex fxLayout="row" fxLayoutGap="5px" class="topcardtext">
            <div fxFlex="33" fxLayout="column">
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Name:</div>
                    <div class="details">Varun Patil</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Mobile:</div>
                    <div class="details">8954785456</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Email:</div>
                    <div class="details">varun.p@outlook.com</div>
                </div>
            </div>
            <div fxFlex="33" fxLayout="column">
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Res Date:</div>
                    <div class="details">11/11/2029</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Arrival:</div>
                    <div class="details">11/11/2029</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Departure:</div>
                    <div class="details">03/11/2011</div>
                </div>
            </div>
            <div fxFlex="33" fxLayout="column">
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Booking No:</div>
                    <div class="details">#123343434</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Booking Status:</div>
                    <div class="details">Confirmed Reservation</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Payment</div>
                    <div class="details">Credit Card</div>
                </div>
            </div>
         </div>
            </mat-card-content>
          </mat-card>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" style="padding-top: 15px;">
        <div fxFlex="33">
            <mat-card fxFlex="100" class="middleCard" style="margin: 0; padding: 0;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>Guest Info</mat-card-subtitle>
                <img mat-card-xs-image src="../../../../assets/images/edit.png" style="cursor: pointer;" title="this is dummy title">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
            <hr style="width: 100%;">
             <div fxFlex fxLayout="column" fxLayoutGap="5px" class="middlecardtext">
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Name:</div>
                    <div class="details">Varun Patil</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Mobile:</div>
                    <div class="details">8954785456</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Email:</div>
                    <div class="details">varun.p@outlook.com</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Guest:</div>
                    <div class="details">66</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Arrival:</div>
                    <div class="details">11/11/2011</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Departure:</div>
                    <div class="details">11/11/2011</div>
                </div>
         </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33">
            <mat-card fxFlex="100" class="middleCard" style="margin: 0; padding: 0;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>Other Information</mat-card-subtitle>
                <img mat-card-xs-image src="../../../../assets/images/edit.png" style="cursor: pointer;" title="this is dummy title">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
         <hr style="width: 100%;">
          <div fxFlex fxLayout="column" fxLayoutGap="5px" class="middlecardtext">
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Nights:</div>
                    <div class="details">3</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Stay Type:</div>
                    <div class="details">Family stay</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Aminities:</div>
                    <div class="details">Wifi</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Rate Type:</div>
                    <div class="details">EP</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Reservation Type:</div>
                    <div class="details">Confirmed booking</div>
                </div>
               
         </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33">
            <mat-card fxFlex="100" class="middleCard" style="margin: 0; padding: 0;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>Credit Card Info</mat-card-subtitle>
                <img mat-card-xs-image src="../../../../assets/images/edit.png" style="cursor: pointer;" title="this is dummy title">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
         <hr style="width: 100%;">
          <div fxFlex fxLayout="column" fxLayoutGap="5px" class="middlecardtext">
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Credit Card No:</div>
                    <div class="details">4423423423</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Card Type:</div>
                    <div class="details">Mastermind</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Expiry Date:</div>
                    <div class="details">11/11/2011</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Card Holder Name:</div>
                    <div class="details">Varun Patil</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                    <div class="title">Activation Date:</div>
                    <div class="details">12/22</div>
                </div>
         </div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" style="padding-top: 15px;">
        <div fxFlex="40">
               <mat-card fxFlex="100" class="endCard" style="margin: 0; padding: 0;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>Property Information</mat-card-subtitle>
                <img mat-card-xs-image src="../../../../assets/images/edit.png" style="cursor: pointer;" title="this is dummy title">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
                <hr style="width: 100%;">
                 <div fxFlex fxLayout="column" fxLayoutGap="5px" class="endcardtext">
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Property No:</div>
                        <div class="details">42343242344</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Property Name:</div>
                        <div class="details">Stay Villa</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Destination:</div>
                        <div class="details">Goa</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Type:</div>
                        <div class="details">Villa</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Rooms:</div>
                        <div class="details">3</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Staymaster Select:</div>
                        <div class="details">Yes</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Rating:</div>
                        <div class="details">33</div>
                    </div>
             </div>
                </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="20">
               <mat-card fxFlex="100" class="endCard" style="margin: 0; padding: 0;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>Identity Information</mat-card-subtitle>
                <img mat-card-xs-image src="../../../../assets/images/edit.png" style="cursor: pointer;" title="this is dummy title">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
                <hr style="width: 100%;">
                 <div fxFlex fxLayout="column" fxLayoutGap="5px" class="endcardtext">
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Indentity Type:</div>
                        <div class="details">Aadhar Card</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Identity No:</div>
                        <div class="details">8954785456</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Expiry Date:</div>
                        <div class="details">11/11/2222</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Nationality:</div>
                        <div class="details">American</div>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                        <div class="title">Date Of Birth:</div>
                        <div class="details">11/11/2211</div>
                    </div>
             </div>
                </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="40">
               <mat-card fxFlex="100" class="endCard" style="margin: 0; padding: 0;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>Transportation Details</mat-card-subtitle>
                <img mat-card-xs-image src="../../../../assets/images/edit.png" style="cursor: pointer;" title="this is dummy title">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
                <hr style="width: 100%;">
                 <div fxFlex fxLayout="row" fxLayoutGap="5px" class="endcardtext">
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="5px">
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Arrival By:</div>
                            <div class="details">Car</div>
                        </div>
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Date:</div>
                            <div class="details">22/11/2222</div>
                        </div>
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Time:</div>
                            <div class="details">12:30 PM</div>
                        </div>
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Vehicle:</div>
                            <div class="details">KL 12 PK 3035</div>
                        </div>
                    </div>
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="5px">
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Arrival By:</div>
                            <div class="details">Car</div>
                        </div>
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Date:</div>
                            <div class="details">22/11/2222</div>
                        </div>
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Time:</div>
                            <div class="details">12:30 PM</div>
                        </div>
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                            <div class="title">Vehicle:</div>
                            <div class="details">KL 12 PK 3035</div>
                        </div>
                    </div>
                    
             </div>
                </mat-card-content>
          </mat-card>
        </div>
    </div>
    </div>