<div class="landing-page">
    <div class="header" >
        <div class="header-box" fxLayout="row" fxLayoutAlign="center center">
            <div class="container">
                <div class="header-content">
                    <div class="logo">
                        <img class="logo-size" src="../../../assets/images/logo.png" alt="img" />
                    </div>
                    <div class="company-name">Staymaster</div>
                    <div class="line">
                        <!-- <div class="line1"></div> -->
                        <!-- <div class="line2"></div> -->
                        <img src="../../../assets/images/HLine.png" alt="img" />
                        <br>
                        <img class="align-middle" src="../../../assets/images/Vline.png" alt="img" />
                    </div>
                    <div class="subtitle">A touch of home, a hint of hotel</div>
                    <img class="align-middle" src="../../../assets/images/Vline.png" alt="img" />

                    <div class="search-btn" fxLayout="column" fxLayoutAlign="center center">
                        <div class="booknow-btn" fxLayout="row" fxLayoutAlign="center center" (click)="redirect()">Search or Book Now</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="destinations" >
        <img class="align-middle" ngClass.lt-md="display-none" src="../../../assets/images/waveline-new.png" alt="img" />
        <div class="container" fxLayout="column" fxLayout.gt-xs="row">
            <div fxFlex.gt-xs="50" fxFlex="100">
                <div class="title">Destinations</div>
                <div class="desc pr-30">Choose from our collection of professionally serviced stays in the most desirable vacation destinations across India.</div>
                <div fxLayout="column">
                    <div class="destination" fxLayout="row" fxLayoutGap="25px">
                        <div class="destination-icon">
                            <img class="align-middle" src="../../../assets/images/Goa-icon.png" alt="img" />
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px">
                            <div class="destination-name">North Goa</div>
                            <div class="desc pr-30">Sun, sand, and endless bliss: escape to Goa’s perfect tropical paradise.</div>
                        </div>
                    </div>
                    <div class="destination" fxLayout="row" fxLayoutGap="25px">
                        <div class="destination-icon">
                            <img class="align-middle" src="../../../assets/images/Maharashtra-icon.png" alt="img" />
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px">
                            <div class="destination-name">Mussoorie</div>
                            <div class="desc pr-30">Experience blissful serenity in Mussoorie's hillside haven</div>
                        </div>
                    </div>
                    <div class="destination" fxLayout="row" fxLayoutGap="25px">
                        <div class="destination-icon">
                            <img class="align-middle" src="../../../assets/images/Uttarakhand-icon.png" alt="img" />
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px">
                            <div class="destination-name">Manali</div>
                            <div class="desc pr-30">Explore idyllic retreats amidst Manali’s sunkissed peaks and majestic mountains</div>
                        </div>
                    </div>
                    <div class="destination" fxLayout="row" fxLayoutGap="25px">
                        <div class="destination-icon">
                            <img class="align-middle" src="../../../assets/images/Bhimtal-icon.png" alt="img" />
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px">
                            <div class="destination-name">Bhimtal</div>
                            <div class="desc pr-30">Lakeside serenity awaits at Bhimtal's enchanting vacation stays</div>
                        </div>
                    </div>
                    <div class="destination" fxLayout="row" fxLayoutGap="25px">
                        <div class="destination-icon">
                            <img class="align-middle" src="../../../assets/images/Mussoorie-icon.png" alt="img" />
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div class="destination-name">Mussoorie</div>
                            <div class="desc pr-30">Experience blissful serenity in Mussoorie's hillside haven</div>
                        </div>
                    </div>
                    
                    <div class="destination" fxLayout="row" fxLayoutGap="25px">
                        <div class="destination-icon">
                            <img class="align-middle" src="../../../assets/images/Kamshet-icon.png" alt="img" />
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px">
                            <div class="destination-name">Kamshet</div>
                            <div class="desc pr-30">The perfect weekend getaway to rejuvenate in the embrace of the Sahyadris</div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex.gt-xs="50" fxFlex="100" fxLayoutAlign="end" class="destination-box" ngClass.lt-md="destination-box-sm">
                <div class="triangle">
                    <div fxFlex="50" class="">
                        <img class="triangle-img" src="../../../assets/images/Frame-200.png" alt="" />
                        <img class="triangle-img" src="../../../assets/images/Frame-201.png" alt="" />
                    </div>
                    <div fxFlex="50">
                        <img class="triangle-img" src="../../../assets/images/Frame-202.png" alt="" style="padding-right: 7px;" />
                        <img class="triangle-img" src="../../../assets/images/Frame-203.png" alt="" style="padding-right: 8px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why-choose" ngClass.gt-xs="section-side-img" >
        <div class="container">
            <div class="page-header">Why Choose Staymaster ?</div>
            <div class="page-desc section-desc" ngClass.xs="section-desc-xs">At Staymaster, we believe travelling is a way of life and not a luxury. We offer a curated collection of contemporary, chic and elegantly designed private vacation homes paired with the finest hospitality. Home-like comfort, hotel-like care - with Staymaster, master the new way to stay!</div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between">
                <div class="section-types" ngClass.lt-sm="mt-0 section-types-xs">
                    <div class="type" fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="20px" fxLayoutGap.gt-xs="0px">
                        <div class="imgdiv">
                            <img src="../../../assets/images/Mask group 1.png" class="img" alt="">
                        </div>
                        <br>
                        <div>
                            <div class="type-title">Professional Hospitality</div>
                            <div class="desc" ngClass.lt-sm="desc-lt-sm">
                                Unparalleled hospitality at par with the service of upscale hotels
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-types" ngClass.lt-sm="mt-0 section-types-xs">
                    <div class="type" fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="20px" fxLayoutGap.gt-xs="0px">
                        <div class="imgdiv">
                            <img src="../../../assets/images/Mask group 2.png" class="img" alt="">
                        </div>
                        <br>
                        <div>
                            <div class="type-title">Design-led Private Homes</div>
                            <div class="desc" ngClass.lt-sm="desc-lt-sm">
                                Aesthetically pleasing interiors curated for elevated comfort
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-types" ngClass.lt-sm="mt-0 section-types-xs">
                    <div class="type" fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="20px" fxLayoutGap.gt-xs="0px">
                        <div class="imgdiv">
                            <img src="../../../assets/images/Mask group 3.png" class="img" alt="">
                        </div>
                        <br>
                        <div>
                            <div class="type-title">For Every Budget </div>
                            <div class="desc" ngClass.lt-sm="desc-lt-sm">
                                From affordable to luxurious, homes for every pocket    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-types" ngClass.lt-sm="mt-0 section-types-xs">
                    <div class="type" fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="20px" fxLayoutGap.gt-xs="0px">
                        <div class="imgdiv">
                            <img src="../../../assets/images/Mask group 4.png" class="img" alt="">
                        </div>
                        <br>
                        <div>
                            <div class="type-title">Concierge & Support</div>
                            <div class="desc" ngClass.lt-sm="desc-lt-sm">
                                When personalised experiences meet unforgettable memories
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container >
        <div class="container " ngClass.xs="container-xs">
            <div class="section what-we-offer">
                <div class="page-header">Stay your Way</div>
                <div class="ph-border"></div>
                <div class="section-desc" ngClass.xs="section-desc-xs">
                    Multiple ways to get away. One promise of an exceptional experience.
                </div>
                <!--  -->
                <div class="cards" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between"
                    fxLayoutGap="25px">
                    <div class="offer-card offer-card-villas" style="background: url('../../../assets/images/villas.png');" ngClass.xs="offer-card-xs" fxLayout="column"
                        fxLayoutAlign="end center">
                        <div class="title-box" fxFlexAlign="end">
                            <div class="card-title">Villas</div>
                        </div>
                        <div class="offer-card-hover" ngClass.lt-sm="offer-card-hover-lt-sm">
                            <div class="card-title-hover">Villas</div>
                            <div class="card-info-hover">Exquisite, handpicked fully serviced private luxury villas - spaces that inspire and delight with Staymaster’s signature hospitality. Perfect for large groups or families of up to 12 looking to indulge in the grandeur and privacy of a luxury villa.</div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="offer-card offer-card-villas" style="background: url('../../../assets/images/condos.png');" ngClass.xs="offer-card-xs" fxLayout="column"
                        fxLayoutAlign="end center">
                        <div class="title-box" fxFlexAlign="end">
                            <div class="card-title">Condos</div>
                        </div>
                        <div class="offer-card-hover" ngClass.lt-sm="offer-card-hover-lt-sm">
                            <div class="card-title-hover">Condos</div>
                            <div class="card-info-hover">Beautifully designed and fully furnished contemporary apartments in gated communities with a host of amenities. Ideal for groups of up to 4 to 5 travellers looking for a safe, hygienic and private vacation. </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="offer-card offer-card-villas" style="background: url('../../../assets/images/boutique_stays.png');" ngClass.xs="offer-card-xs" fxLayout="column"
                        fxLayoutAlign="end center">
                        <div class="title-box" fxFlexAlign="end">
                            <div class="card-title">Boutique Stays</div>
                        </div>
                        <div class="offer-card-hover" ngClass.lt-sm="offer-card-hover-lt-sm">
                            <div class="card-title-hover">Boutique Stays</div>
                            <div class="card-info-hover">Large standalone complexes and mansions made completely private for you. Transcending experiences with unprecedented serenity in consummate privacy. Great fit for large groups of 12 or more looking to celebrate private events, special occasions, corporate retreats and offsites.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <!--  -->
    <ng-container>
        <div class="container">
            <div fxLayout="column" fxLayout.gt-sm="row" class="key-features">
                <div fxFlex>
                    <div fxLayout="column" fxLayoutAlign="space-between center">
                        <div fxLayoutAlign="center center" class="range-bg">
                            <img src="../../../assets/images/Mask group.png" alt="" />
                        </div>
                        <span class="vertical-line"></span>
                        <div class="h-line line-mt-22" ></div>
                        <span class="range-per">150+</span>
                        <div class="h-line" ></div>
                        <p class="range-p">Handpicked Homes</p>
                    </div>
                </div>
                <div fxFlex>
                    <div fxLayout="column" fxLayoutAlign="space-between center">
                        <div fxLayoutAlign="center center" class="range-bg">
                            <img src="../../../assets/images/Nights Booked.png" alt="" />
                        </div>
                        <span class="vertical-line"></span>
                        <div class="h-line line-mt-22" ></div>
                        <span class="range-per">60K+</span>
                        <div class="h-line" ></div>
                        <p class="range-p">Nights Booked</p>
                    </div>
                </div>
                <div fxFlex>
                    <div fxLayout="column" fxLayoutAlign="space-between center">
                        <div fxLayoutAlign="center center" class="range-bg">
                            <img  src="../../../assets/images/Happy Guests.png" alt="" />
                        </div>
                        <span class="vertical-line"></span>
                        <div class="h-line line-mt-22" ></div>
                        <span class="range-per">100K+</span>
                        <div class="h-line" ></div>
                        <p class="range-p">Happy Guests</p>
                    </div>
                </div>
                <div fxFlex>
                    <div fxLayout="column" fxLayoutAlign="space-between center">
                        <div fxLayoutAlign="center center" class="range-bg">
                            <img  src="../../../assets/images/Destinations.png" alt="" />
                        </div>
                        <span class="vertical-line"></span>
                        <div class="h-line line-mt-22" ></div>
                        <span class="range-per">5+</span>
                        <div class="h-line" ></div>
                        <p class="range-p">Destinations </p>
                    </div>
                </div>
            </div>        
        </div>
    </ng-container>
    <!--  -->
    <ng-container>
        <div class="section how-started-future-goals">
            <div class="airoplane-illustration" ngClass.lt-md="display-none">
                <img src="../../../assets/images/airplane-illustration-landing-page.png" alt="">
            </div>
            <div class="how-started">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="20px">
                    <div class="left-side" ngClass.xs="left-side-xs">
                        <img src="../../../assets/images/How-started-bg.png" alt="" class="left-side-img"
                            ngClass.xs="left-side-img-xs">
                    </div>
                    <div class="right-side" ngClass.xs="right-side-xs" fxLayout="column" fxLayoutGap="34px">
                        <div class="page-header">How it started ?</div>
                        <div class="page-desc">Our journey began with a vision, sparked by the experiences of our founding team, a group of former Airbnb professionals. As avid travellers themselves, they noticed a significant shift in travel preferences, with more travellers choosing vacation homes over hotels. However, they observed that vacation homes lacked consistent and professional hospitality and fell short in providing the level of service and care that guests truly deserved. </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="future-goals">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="20px">
                    <div class="left-side" ngClass.xs="left-side-xs" fxLayout="column" fxLayoutGap="34px">
                        <div class="page-header">Future Goals</div>
                        <div class="page-desc">We believe vacations should be moments of pure indulgence, where guests are pampered and made to feel special. This belief laid the very foundation for Staymaster - to elevate the standards of vacation rental hospitality and customer service, where every aspect of a guest's stay is meticulously taken care of, ensuring their experience is predictable, seamless, and memorable.</div>
                    </div>
                    <div class="right-side" ngClass.xs="right-side-xs">
                        <img src="../../../assets/images/Future-goals-bg.png" alt="" class="right-side-img"
                            ngClass.xs="right-side-img-xs">
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <!--  -->

    <!--  -->
    <ng-container>
        <div class="promise-bg" ngClass.lt-md="display-none"></div>
        <div class="container pb-100" ngClass.xs="container-xs">
            <div class=" offers-section" ngClass.lt-sm="offers-section-ld-xs">
                <div class="page-header">What We Promise</div>
                <div class="offers" fxLayout="column" fxLayoutGap="40px" fxLayoutGap.gt-sm="74px">
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="40px" fxLayoutGap.gt-sm="74px">
                        <div class="offer" fxLayout="row" fxLayoutGap="25px">
                            <div class="offer-number">&nbsp;1.</div>
                            <div fxLayout="column" fxLayoutGap="15px">
                                <div class="offer-title">Verified and Trustworthy Homes:</div>
                                <div class="offer-desc">Your safety and comfort are our priority. We promise a curated collection of vetted homes that meet our high standards of quality and authenticity. Each property undergoes a rigorous screening process, and we only partner with reputable homeowners committed to exceptional experiences.</div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="offer" fxLayout="row" fxLayoutGap="25px">
                            <div class="offer-number">2.</div>
                            <div fxLayout="column" fxLayoutGap="15px">
                                <div class="offer-title">Local Expertise and Recommendations:</div>
                                <div class="offer-desc"> We know that planning a vacation can be overwhelming, which is why our concierge service is here to take care of everything for you. From the moment you arrive until you check out, our hospitality team shall be your personal assistant, dedicated to creating a one-of-a-kind vacation tailored to your preferences.</div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="40px" fxLayoutGap.gt-sm="40px">
                        <div fxFlex class="offer" fxLayout="row" fxLayoutGap="25px">
                            <div class="offer-number">3.</div>
                            <div fxLayout="column" fxLayoutGap="15px">
                                <div class="offer-title">Dedicated Support Throughout Your Stay: </div>
                                <div class="offer-desc">Our commitment goes beyond booking. Enjoy dedicated support throughout your stay with our 24/7 customer team just a call or message away. We'll promptly address any concerns, ensuring a stress-free and enjoyable vacation.</div>
                            </div>
                        </div>
                        <!--  -->
                        <div fxFlex class="offer" fxLayout="row" fxLayoutGap="25px">
                            <div class="offer-number">4.</div>
                            <div fxLayout="column" fxLayoutGap="15px">
                                <div class="offer-title">Flexible Booking Options:</div>
                                <div class="offer-desc">We understand plans can change. Enjoy peace of mind with our flexible booking options, including various cancellation policies and terms. Modify your reservation when necessary, making the process stress-free.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="footer">
        <div class="header-box">
            <div class="container">
                <div class="header-content">
                    <div class="logo">
                        <img class="logo-size" src="../../../assets/images/logo.png" alt="img" style="width: 98px; height: 98px;" />
                    </div>
                    <div class="company-name">Staymaster</div>
                    <div class="subtitle">Master the new way to stay</div>
                    <div class="welcome-msg">Welcome to the brand that helps you <br> master the new way to stay</div>
                    <div class="social-media-icons" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                        <img class="logo-size" src="../../../assets/images/facebook-icon.png" (click)="openSocialMedia('https://www.facebook.com/staymaster')" />
                        <img class="logo-size" src="../../../assets/images/instagram-icon.png" (click)="openSocialMedia('https://www.instagram.com/thestaymaster/')" />
                        <img class="logo-size" src="../../../assets/images/twitter-icon.png" (click)="openSocialMedia('https://www.twitter.com/')" />
                        <img class="logo-size" src="../../../assets/images/linkedin-icon.png" (click)="openSocialMedia('https://www.linkedin.com/company/staymaster/mycompany')"/>
                    </div>
                    <div fxLayoutAlign="center center" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px">
                        <div fxLayout="row"  class="footer-bootom" >
                            Copyright <img src="../../../assets/images/copyright.png" alt="" class="copyright"> All rights reserved Staymaster Pvt. Ltd.
                        </div>
                        <div fxLayout="row" class="footer-bootom" fxLayoutGap="10px">
                            <!--[routerLink]="'/privacy-policy'"-->
                            <!-- <a  [routerLink]="'/privacy-policy'" (click)="openSocialMedia('https://thestaymaster.com/privacy-policy/')">Privacy</a>  -->
                            <a  [routerLink]="'/privacy-policy'">Privacy</a> 
                            <!-- <span class="tc-dot"></span> <a   (click)="openSocialMedia('https://thestaymaster.com/terms-and-conditions/')">Terms and Conditions</a> -->
                            <span class="tc-dot"></span> <a [routerLink]="['/terms-and-conditions']"  >Terms and Conditions</a>
                             <!-- [routerLink]="['/terms-and-conditions']"-->
                            <span class="tc-dot"></span> <a   (click)="openSocialMedia('https://thestaymaster.com/refund-cancellation-policy/')">Refunds & Cancellations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>