.profile {
  .bg {
    background-image: url(../../../assets/images/profile-bg.png);
    min-height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .bg-xs {
    background-image: url(../../../assets/images/profile-bg-xs.png);
    min-height: 90vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
  }
  .random-large {
    font-family: "Caudex";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #ffffff;
  }
  .random-title {
    font-family: "Caudex";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #f9f5f3;
  }
  .comment {
    font-family: "Caudex";
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 132%;
    color: #f9f5f3;
    padding-top: 12rem;

    .qoute {
      font-family: "Milyuna";
      font-style: normal;
      font-weight: 400;
      font-size: 300px;
      // line-height: 405px;
      // text-align: center;
      color: #f9f5f3;
      position: relative;
      top: 80px;
    }

    @media (max-width: 599px) {
      font-size: 26px;
      line-height: 132%;
      padding-top: 115px;
    }
  }
  .left-side {
    background: #008281;
    opacity: 0.8;
    min-height: 100vh;
    padding: 0.8rem 3rem 3rem 6rem;
    height: 100%;
    @media (max-width: 959px) {
      padding: 0.8rem 3rem 3rem 3rem;
    }
    .logo-image{
      width: 100%;
    }
  }

  .left-side-xs {
    padding: 2rem 2rem 2rem 2rem;

    .menu-icon {
      padding-top: 20px;
    }
  }

  .profile-form {
    background: #ffffff;
    min-height: 100vh;
    padding: 30px 148px 64px 148px;
    font-family: "Akkurat";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    label {
      font-size: 18px;
      line-height: 23px;
      color: #757575;
      padding-left: 20px;
    }

    select {
      .sm-text {
        @media (max-width: 599px) {
          height: 54px;
        }
      }
    }

    .sm-text {
      border: 1.1px solid rgba(161, 129, 128, 0.9);
      border-radius: 14px;
      font-size: 20px;
      line-height: 25px;
      color: rgba(46, 46, 46, 0.95);
      height: 54px;
      padding-left: 20px;

      @media (max-width: 599px) {
        border-radius: 29px;
        font-size: 18px;
        line-height: 100%;
        padding: 16px 23px;
      }
    }
    ::placeholder {
      color: rgba(46, 46, 46, 0.95) !important;
    }

    .title {
      font-family: Caudex;
      font-size: 40px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0em;
      text-align: left;
      color: #008281;
      margin-top: 40px;
      margin-bottom: 30px;

      .line {
        // background: #C4B385;
        margin-top: 10px;
        border: 1px solid #c4b385;
        width: 100px;
      }

      @media (max-width: 599px) {
        margin-top: 26px;
        font-size: 28px;
        line-height: 120%;
      }
    }
  }

  .profile-form-xs {
    background: #ffffff;
    min-height: 100vh;
    padding: 2rem 2rem 2rem 2rem;
    font-family: "Akkurat";
    font-style: normal;
    font-weight: 400;

    @media (max-width: 599px) {
      padding-bottom: 120px;
    }
  }

  .menu > img {
    width: 28px;
    height: 24px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .booking-for {
    font-family: "Akkurat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    .booking-for-btn {
      width: 250px;
      height: 50px;
      border-radius: 8px;
      background: #ffffff;
      border: 1.1px solid rgba(161, 129, 128, 0.9);
      cursor: pointer;
      border-radius: 29px;
    }

    .active {
      background: #008281;
      color: #ffffff;
      border: 1px solid #008281;
    }
  }

  .save-btn {
    background: #008281;
    box-shadow: 1px 1px 14px 1px rgba(88, 65, 57, 0.12);
    border-radius: 46px;
    width: 100%;
    height: 50px;
    font-family: "Akkurat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #f9f5f3;
    cursor: pointer;

    @media (max-width: 599px) {
      margin-top: 44px;
    }
  }
}

.error-message {
  color: red;
  font-size: 12px;
  //   margin-top: 5px;
  margin-left: 20px;
}

textarea {
  &.textarea {
    height: 100px !important;
    &.sm-text {
      @media (max-width: 599px) {
        border-radius: 14px !important;
      }
    }
  }
}

@media (max-width: 1050px) {
  .profile-form{
    padding: 30px 30px 64px 30px !important;
  }
}

@media (max-width: 600px) {
  .phone-number{
      flex-direction: column !important;
      gap: 15px;
      select{
          max-width: 100% !important;
      }
  }
}

@media (max-width: 768px) {
  .connect-us{
    flex-direction: column !important;
  }
  div{
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  .menu-icon{
    display: block !important; 
  }

  .menu-contact-us{
    display: none !important; 
  }
}

.mobile-select{
  @media (max-width: 780px) {
    padding-left: 10px !important;
  }
}