<div class="booking" fxLayout="column">
    <div class="date" fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-form-field>
            <mat-label>Compare by stay date</mat-label>
            <mat-select>
              <mat-option value="11 May 2023">11 May</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Compare by stay date</mat-label>
          <mat-select>
            <mat-option value="11 May 2023">11 May</mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex  class="cards" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        
            <mat-card class="example-card" style="margin: 0; padding: 0;">
              <mat-card-header>
                <mat-card-title-group>
                     <mat-card-subtitle>Direct Looking Funnel looker to booker</mat-card-subtitle>
                  <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png">
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
                <img class="placeholder" src="../../../../assets/admin/bes0.png">
              </mat-card-content>
            </mat-card>

            <mat-card class="example-card" style="margin: 0; padding: 0;">
              <mat-card-header>
                <mat-card-title-group>
                     <mat-card-subtitle>Daily Statistics</mat-card-subtitle>
                  <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png">
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
                <img class="placeholder" src="../../../../assets/admin/bes1.png">
              </mat-card-content>
            </mat-card>
        
    </div>



  <div fxFlex  class="bottom" fxLayout="row wrap" fxLayoutGap="10px">
        
    <mat-card class="bottomcard" style="margin: 0; padding: 0;">
      <mat-card-header>
        <mat-card-title-group>
             <mat-card-subtitle>Location Statistics</mat-card-subtitle>
          <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
        <!-- <img class="placeholder" src="../../../../assets/admin/rev3.png"> -->
      </mat-card-content>
    </mat-card>
</div>
</div>