<div class="revenue" fxLayout="column">
  <div class="date" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-form-field>
      <mat-label>Compare by stay date</mat-label>
      <mat-select>
        <mat-option value="11 May 2023">11 May</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex class="cards" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">

    <mat-card class="example-card" style="margin: 0; padding: 0;">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-subtitle>Weekly Revenue Comaprison</mat-card-subtitle>
          <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png" style="cursor: pointer;" title="this is dummy title">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
        <img class="date-placeholder" src="../../../../assets/admin/dtpkr.png">
        <img class="placeholder" src="../../../../assets/admin/rev0.png">
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin: 0; padding: 0;">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-subtitle>Monthly Revenue Comaprison</mat-card-subtitle>
          <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png" style="cursor: pointer;" title="this is dummy title">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
        <img class="date-placeholder" src="../../../../assets/admin/dtpkr.png">
        <img class="placeholder" src="../../../../assets/admin/rev1.png">
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin: 0; padding: 0;">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-subtitle>Yearly Revenue Comaprison</mat-card-subtitle>
          <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png" style="cursor: pointer;" title="this is dummy title">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
        <img class="date-placeholder" src="../../../../assets/admin/dtpkr.png">
        <img class="placeholder" src="../../../../assets/admin/rev2.png">
      </mat-card-content>
    </mat-card>

  </div>

  <div class="date" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select>
        <mat-option value="11 May 2023">11 May</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select>
        <mat-option value="11 May 2023">11 May</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex class="bottom" fxLayout="row wrap" fxLayoutGap="15px">

    <mat-card class="bottomcard" style="margin: 0; padding: 0;">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-subtitle>Room Type Wise Comparison</mat-card-subtitle>
          <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png" style="cursor: pointer;" title="this is dummy title">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
        <img class="placeholder" src="../../../../assets/admin/rev3.png">
      </mat-card-content>
    </mat-card>

    <mat-card class="bottomcard" style="margin: 0; padding: 0;">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-subtitle>Rate Type Wise Comparison</mat-card-subtitle>
          <img mat-card-xs-image src="../../../../assets/admin/icons/Mask group.png" style="cursor: pointer;" title="this is dummy title">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content fxFlex fxLayoutAlign="column center" fxLayout="column" fxLayoutGap="5px">
        <img class="placeholder" src="../../../../assets/admin/rev4.png">
      </mat-card-content>
    </mat-card>

  </div>
</div>